<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doxray</title>
    <script type="text/x-handlebars-template" id="doxray-toc-template">
        <main class="doxray-toc" id="doxray-toc">
            <header class="doxray-toc_header">
                <div class="doxray-title">
                    <span class="doxray-title_brand">
                        Doxray
                    </span>
                    <span class="doxray-title_ribbon">
                        <span class="doxray-title_ribbon-item doxray-title_ribbon-item__1">
                            Pattern
                        </span>
                        <span class="doxray-title_ribbon-item doxray-title_ribbon-item__bend">
                            &nbsp;
                        </span>
                        <span class="doxray-title_ribbon-item doxray-title_ribbon-item__2">
                            Library
                        </span>
                    </span>
                    <p class="doxray-title_tagline">
                        A documented collection of the HTML and CSS patterns used in the Doxray template.
                    </p>
                </div>
            </header>
            <div class="doxray-toc_body">
                <label class="doxray-toc_collapsed-view-btn">
                    <input class="js-doxray-toggle-collapsed-toc" type="checkbox">
                    Collapsed view
                </label>
                {{#each this}}
                    <ul class="doxray-toc_file-list">
                        <li class="doxray-toc_file-list-item">
                            <a class="doxray-link doxray-link__file" href="?file={{@key}}">
                                {{@key}}
                            </a>
                            {{#each this}}
                                {{#if this.label}}
                                    {{#if this.header}}
                                        <a class="doxray-link doxray-link__header" href="?file={{@../key}}#{{this.slug}}">
                                            {{this.label}}
                                        </a>
                                    {{else}}
                                        <a class="doxray-link" href="?file={{@../key}}#{{this.slug}}">
                                            {{this.label}}
                                        </a>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </li>
                    </ul>
                {{/each}}
            </div>
        </main>
    </script>
    <script type="text/x-handlebars-template" id="doxray-docs_patterns-template-raw">
        {{#each this}}{{#unless this.docs.eof}}
            <section id="{{this.slug}}">
                {{#if this.label}}
                    <br>
                    {{this.label}}
                    <br>
                    <br>
                    {{{this.markup}}}
                {{/if}}
            </section>
        {{/unless}}{{/each}}
    </script>
    <script type="text/x-handlebars-template" id="doxray-docs_nav-template">
        <nav class="doxray-docs_nav" id="doxray-docs_nav">
            <div class="doxray-docs_nav-scroll">
                <div class="doxray-docs_nav-content">
                    <header class="doxray-docs_nav-title doxray-title">
                        <span class="doxray-title_brand">
                            Doxray
                        </span>
                        <span class="doxray-title_ribbon">
                            <span class="doxray-title_ribbon-item doxray-title_ribbon-item__1">
                                Pattern
                            </span>
                            <span class="doxray-title_ribbon-item doxray-title_ribbon-item__bend">
                                &nbsp;
                            </span>
                            <span class="doxray-title_ribbon-item doxray-title_ribbon-item__2">
                                Library
                            </span>
                        </span>
                        <p class="doxray-title_tagline">
                            A documented collection of the HTML and CSS patterns used in the Doxray template.
                        </p>
                    </header>
                    <ul class="doxray-toc_file-list">
                        <li class="doxray-toc_file-list-item">
                            <a class="doxray-link doxray-link__file" href="?file={{this.0.filename}}">
                                {{this.0.filename}}
                            </a>
                            {{#each this}}
                                {{#if this.label}}
                                    {{#if this.header}}
                                        <a class="doxray-link doxray-link__header" href="?file={{../../../this.0.filename}}#{{this.slug}}">
                                            {{this.label}}
                                        </a>
                                    {{else}}
                                        <a class="doxray-link" href="?file={{../../../this.0.filename}}#{{this.slug}}">
                                            {{this.label}}
                                        </a>
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                            <hr class="doxray-link-hr">
                            <a class="doxray-link doxray-link__docs-nav" href="?file={{this.0.filename}}&raw=true">Raw view</a>
                            <a class="doxray-link doxray-link__docs-nav" href="index.html">
                                Back to all patterns
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </script>
    <script type="text/x-handlebars-template" id="doxray-docs_patterns-template">
        <main class="doxray-docs_patterns" id="doxray-docs_patterns">
            {{#each this}}{{#unless this.eof}}
                <section class="doxray-doc{{#if this.header}} doxray-doc__header{{/if}}" id="{{this.slug}}">
                    {{#if this.label}}
                        <h1 class="doxray-doc-label{{#if this.header}} doxray-doc-label__header{{/if}}">
                            <a class="doxray-doc-label_link" href="#{{this.slug}}">
                                {{this.label}}
                            </a>
                            {{#if this.category}}
                                <small class="doxray-doc-tag">{{this.category}}</small>
                            {{/if}}
                            {{#if this.type}}
                                <small class="doxray-doc-tag">{{this.type}}</small>
                            {{/if}}
                        </h1>
                    {{/if}}
                    {{#if this.description}}
                        <div class="doxray-doc-description">
                            {{{this.description}}}
                        </div>
                    {{/if}}
                    {{#each this.notes}}
                        <div class="doxray-doc-note">
                            {{{this}}}
                        </div>
                    {{/each}}
                    {{#if this.reference}}
                        <a class="doxray-doc-reference" href="{{this.reference}}" target="_blank">{{this.reference}}</a>
                    {{/if}}
                    {{#if this.colorPalette}}
                        <div class="doxray-doc-palette-container">
                            {{#each this.colorPalette}}
                                <div class="doxray-doc-palette">
                                    <div class="doxray-doc-palette_color" style="background-color:{{this.value}};"></div>
                                    <input class="doxray-doc-palette_input" type="text" value="{{this.variable}}">
                                    <input class="doxray-doc-palette_input" type="text" value="{{this.value}}">
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="doxray-tabs doxray-doc-markup" data-tabs>
                        {{#if this.markup}}
                            {{#each this.wrappers}}
                                <div class="doxray-doc-markup_rendered{{#if ../this.blockMarkup}} doxray-doc-markup_rendered__block{{/if}} doxray-doc-markup-wrapper {{this}}">
                                    <span class="doxray-doc-markup-wrapper_label">
                                        {{this}}
                                    </span>
                                    {{{../this.markup}}}
                                </div>
                            {{else}}
                                <div class="doxray-doc-markup_rendered{{#if this.blockMarkup}} doxray-doc-markup_rendered__block{{/if}}">
                                    {{{this.markup}}}
                                </div>
                            {{/each}}
                        {{/if}}
                        <div class="doxray-tabs_tabs">
                            {{#if this.markup}}
                                <button class="doxray-tabs_btn{{#unless this.collapseMarkup}} doxray-tabs_btn__active{{/unless}}" data-tabs-btn="markup">markup</button>
                            {{/if}}
                            {{#if this.scss}}
                                <button class="doxray-tabs_btn" data-tabs-btn="scss">scss</button>
                            {{/if}}
                            {{#if this.less}}
                                <button class="doxray-tabs_btn" data-tabs-btn="less">less</button>
                            {{/if}}
                        </div>
                        {{#if this.markup}}
                            <pre class="doxray-tabs_body{{#unless this.collapseMarkup}} doxray-tabs_body__visible{{/unless}} doxray-doc-code" data-tabs-body="markup"><code class="doxray-doc-code_text">{{this.markup}}</code></pre>
                        {{/if}}
                        {{#if this.scss}}
                            <pre class="doxray-tabs_body doxray-doc-code" data-tabs-body="scss"><code class="doxray-doc-code_text">{{this.scss}}</code></pre>
                        {{/if}}
                        {{#if this.less}}
                            <pre class="doxray-tabs_body doxray-doc-code" data-tabs-body="less"><code class="doxray-doc-code_text">{{this.less}}</code></pre>
                        {{/if}}
                    </div>
                </section>
            {{/unless}}{{/each}}
        </main>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script src="doxray-parsed-data.js"></script>
    <script src="doxray-template.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="doxray-template.css">
    <!-- <link rel="stylesheet" href="your-stylesheet-here.css"> -->
</head>
<body class="doxray" id="doxray"></body>
</html>
