/* doxray
label:
    Demo
category:
    styleguide
header:
    true
markup: |
    <header class="doxray-title">
        <span class="doxray-title_title">
            UI Docs
        </span>
        <p class="doxray-title_tagline">
            A documented collection of the HTML and CSS patterns used in the Doxray template.
        </p>
    </header>
*/


/* doxray
label:
    .doxray-title
category:
    css
type:
    bem block
*/

.doxray-title {
    margin: 0;
    font-size: 1em;
    text-align: center;
}


/* doxray
label:
    .doxray-title_title
category:
    css
type:
    bem element
description:
    The title of the site. You may wish to change this to "Styleguide" or "Pattern Library"
markup: |
    <h1 class="doxray-title">
        <span class="doxray-title_title">
            UI Docs
        </span>
    </h1>
*/

.doxray-title_title {
    display: block;
    margin: 0 0 12px 0;
    color: @doxray-color-gray;
    font-family: @doxray-font-family-default;
    font-size: @doxray-font-size-xlg;
    font-weight: @doxray-font-weight-light;
    letter-spacing: -.03em;
    line-height: 1.2;
}


/* doxray
label:
    .doxray-title_tagline
category:
    css
type:
    bem element
description:
    Text to clarify the purpose of the page.
markup: |
    <p class="doxray-title_tagline">
        A documented collection of the HTML and CSS patterns used in the Doxray template.
    </p>
*/

.doxray-title_tagline {
    display: block;
    max-width: 220px;
    margin: 18px auto 0;
    padding: 0 5px;
    color: @doxray-color-shadow;
    font-family: @doxray-font-family-default;
    font-size: 12px;
    font-weight: @doxray-font-weight-light;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 1.38;
}
