@import "doxray-variables.less";


/* doxray
header:
    true
label:
    .doxray-docs
*/


/* doxray
label:
    .doxray-docs_nav
*/

.doxray-docs_nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: @doxray-nav-width;
    background: @doxray-color-paper-white;
    overflow: hidden;
    z-index: 0;
}

.doxray-docs_nav-scroll {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* doxray
label:
    .doxray-docs_patterns
*/

.doxray-docs_patterns {
    position: relative;
    margin-left: @doxray-nav-width;
    background: @doxray-color-clean-white;
    box-shadow: 0 0 4px @doxray-color-shadow;
    z-index: 1;
}
