/* doxray
header:
    true
label:
    Variables
*/
/* doxray
label:
    Fonts
category:
    helper
notes:
    - >
        `Open Sans` is a Google font.
    - >
        `<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">`
*/
/* doxray
label:
    Colors
colorPalette:
    less
*/
/* doxray
label:
    Dimension and spacing
*/
/* doxray
label:
    Demo
category:
    styleguide
header:
    true
markup: |
    <header class="doxray-title">
        <span class="doxray-title_title">
            UI Docs
        </span>
        <p class="doxray-title_tagline">
            A documented collection of the HTML and CSS patterns used in the Doxray template.
        </p>
    </header>
*/
/* doxray
label:
    .doxray-title
category:
    css
type:
    bem block
*/
.doxray-title {
  margin: 0;
  font-size: 1em;
  text-align: center;
}
/* doxray
label:
    .doxray-title_title
category:
    css
type:
    bem element
description:
    The title of the site. You may wish to change this to "Styleguide" or "Pattern Library"
markup: |
    <h1 class="doxray-title">
        <span class="doxray-title_title">
            UI Docs
        </span>
    </h1>
*/
.doxray-title_title {
  display: block;
  margin: 0 0 12px 0;
  color: #474646;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.2;
}
/* doxray
label:
    .doxray-title_tagline
category:
    css
type:
    bem element
description:
    Text to clarify the purpose of the page.
markup: |
    <p class="doxray-title_tagline">
        A documented collection of the HTML and CSS patterns used in the Doxray template.
    </p>
*/
.doxray-title_tagline {
  display: block;
  max-width: 220px;
  margin: 18px auto 0;
  padding: 0 5px;
  color: #6e6c6c;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.38;
}
/* doxray
header:
    true
label:
    .doxray-docs
*/
/* doxray
label:
    .doxray-docs_nav
*/
.doxray-docs_nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 292px;
  border-right: 1px solid #f0f0f0;
  overflow: hidden;
  z-index: 0;
}
.doxray-docs_nav-scroll {
  width: 100%;
  height: 100%;
  padding: 36px 0 0 36px;
  overflow-y: auto;
  overflow-x: hidden;
}
.doxray-docs_nav-title {
  margin-bottom: 36px;
}
.doxray-docs_nav-content {
  width: 220px;
}
/* doxray
label:
    .doxray-docs_patterns
*/
.doxray-docs_patterns {
  position: relative;
  margin-left: 292px;
  z-index: 1;
}
/* doxray
header:
    true
label:
    .doxray
description:
    The namespace which all Doxray classes should be prepended with.
notes:
    - >
        All Doxray classes must be namespaced with `doxray` in order to
        avoid accidentally overriding the users' stylesheet.
    - >
        This class must be added to the `<body>` tag.
*/
.doxray {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
/* doxray
header:
    true
label:
    The rest of the patterns
description:
    To be documented
*/
/* doxray
label:
    .doxray-toc_header
markup: |
    <header class="doxray-toc_header">...</header>
*/
.doxray-toc_header {
  padding: 72px;
  border-bottom: 1px solid #f0f0f0;
}
/* doxray
label:
    .doxray-toc_body
*/
.doxray-toc_body {
  position: relative;
  padding: 72px;
}
/* doxray
label:
    .doxray-toc_collapsed-view-btn
*/
.doxray-toc_collapsed-view-btn {
  position: absolute;
  bottom: 36px;
  left: 50%;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  transform: translate(-50%, 50%);
}
/* doxray
label:
    .doxray-toc_file-list
*/
.doxray-toc_file-list {
  display: inline-block;
  width: 220px;
  margin: 0 36px 72px 0;
  padding: 0;
  vertical-align: top;
  list-style-type: none;
  text-align: left;
}
.doxray-toc_file-list.is-collapsed {
  margin-bottom: 18px;
}
.doxray-toc_file-list.is-collapsed .doxray-link:not(.doxray-link__file) {
  display: none;
}
/* doxray
label:
    .doxray-toc_file-list__bordered
*/
.doxray-toc_file-list__bordered {
  padding: 18px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}
/* doxray
label:
    .doxray-toc_file-list-item
*/
.doxray-toc_file-list-item {
  margin: 0;
  padding: 0;
}
/* doxray
label:
    .doxray-link
markup: |
    <a class="doxray-link" href="#0">
        A simple blocky link
    </a>
*/
.doxray-link,
.doxray-link:link,
.doxray-link:visited {
  position: relative;
  display: block;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #ffffff;
  background: #ffffff;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  color: #474646;
  text-decoration: none;
}
.doxray-link:hover,
.doxray-link:focus {
  background: #f8f8f8;
}
.doxray-link:focus {
  outline: 0;
}
/* doxray
label:
    .doxray-link__header
markup: |
    <a class="doxray-link doxray-link__header" href="#0">
        Header link
    </a>
*/
.doxray-link__header {
  font-weight: 600;
}
/* doxray
label:
    .doxray-link__file
markup: |
    <a class="doxray-link doxray-link__file" href="#0">
        Header link
    </a>
*/
.doxray-link__file,
.doxray-link__file:link,
.doxray-link__file:visited,
.doxray-link__file:hover,
.doxray-link__file:active {
  color: #6e6c6c;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.38;
}
/* doxray
label:
    .doxray-link-hr
markup: |
    <a class="doxray-link" href="#0">
        A simple blocky link
    </a>
    <hr class="doxray-link-hr">
    <a class="doxray-link" href="#0">
        A simple blocky link
    </a>
*/
.doxray-link-hr {
  display: block;
  height: 1px;
  margin: 10px;
  border: 0;
  background: #f0f0f0;
}
/* doxray
label:
    .doxray-doc
*/
.doxray-doc {
  position: relative;
  padding: 72px 108px;
  overflow-x: hidden;
}
.doxray-doc + .doxray-doc {
  border-top: 1px solid #f0f0f0;
}
/* doxray
label:
    .doxray-doc-label
markup: |
    <h1 class="doxray-doc-label">
        Lorem ipsum
    </h1>
*/
.doxray-doc-label {
  margin: 0 0 18px;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 30px;
  font-weight: 400;
}
/* doxray
label:
    .doxray-doc-label_link
markup: |
    <h1 class="doxray-doc-label">
        <a class="doxray-doc-label_link" href="#0">
            Lorem ipsum
        </a>
    </h1>
*/
.doxray-doc-label_link,
.doxray-doc-label_link:link,
.doxray-doc-label_link:visited,
.doxray-doc-label_link:hover,
.doxray-doc-label_link:focus {
  color: #474646;
  text-decoration: none;
  outline: 0;
}
/* doxray
label:
    .doxray-doc-label__header
markup: |
    <h1 class="doxray-doc-label doxray-doc-label__header">
        <a class="doxray-doc-label_link" href="#0">
            Header label
        </a>
    </h1>
*/
.doxray-doc-label__header {
  font-size: 42px;
}
/* doxray
label:
    .doxray-doc-tag
markup: |
    <small class="doxray-doc-tag">Tag</small>
*/
.doxray-doc-tag {
  display: inline-block;
  margin: 0 0 0 .5em;
  padding: .2em .8em;
  border-radius: 12px;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  font-weight: 400;
  background: #f0f0f0;
  color: #474646;
}
/* doxray
label:
    .doxray-doc-description
markup: |
    <div class="doxray-doc-description">
        <p>A description</p>
    </div>
*/
.doxray-doc-description {
  max-width: 50em;
  margin: 18px 0;
}
.doxray-doc-description p {
  margin: 18px 0 0;
  color: #474646;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  font-weight: 400;
}
.doxray-doc-description code {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background: #f8f8f8;
  color: #474646;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: .9em;
}
/* doxray
label:
    .doxray-doc-note
markup: |
    <div class="doxray-doc-note">
        <p>A note</p>
    </div>
*/
.doxray-doc-note {
  position: relative;
  max-width: 50em;
  margin: 18px 0;
  padding-left: 1.3em;
}
.doxray-doc-note:before {
  content: "●";
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: .25em;
  color: #474646;
  font-size: 14px;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-weight: 400;
}
.doxray-doc-note p {
  margin: 18px 0 0;
  font-size: 14px;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-weight: 400;
}
.doxray-doc-note p a,
.doxray-doc-note p a:link,
.doxray-doc-note p a:visited,
.doxray-doc-note p a:hover,
.doxray-doc-note p a:active {
  color: #5b7489;
}
.doxray-doc-note code {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  background: #f8f8f8;
  color: #474646;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: .9em;
}
/* doxray
label:
    .doxray-doc-reference
markup: |
    <a class="doxray-doc-reference" href="#0" target="_blank">
        A reference link
    </a>
*/
.doxray-doc-reference,
.doxray-doc-reference:active,
.doxray-doc-reference:link,
.doxray-doc-reference:focus,
.doxray-doc-reference:hover,
.doxray-doc-reference:visited {
  margin: 18px 0;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 18px;
  color: #5b7489;
  text-decoration: none;
}
/* doxray
label:
    .doxray-doc-markup
description: >
    Contains both the rendered and raw markup.
markup: |
    <div class="doxray-doc-markup">
        <div class="doxray-doc-markup_rendered">
            Markup is rendered here
        </div>
    </div>
*/
.doxray-doc-markup {
  margin: 54px -36px 36px;
  box-shadow: 0 0 6px #6e6c6c;
  border-radius: 5px;
}
/* doxray
label:
    .doxray-doc-markup_rendered
description: >
    Contains both the rendered markup.
notes:
    - >
        By default this container uses `display: inline-block;`. This is
        beneficial when using wrappers, since they will stack horizontally
        so you can compare them.
markup: |
    <div class="doxray-doc-markup">
        <div class="doxray-doc-markup_rendered">
            Markup is rendered here
        </div>
    </div>
*/
.doxray-doc-markup_rendered {
  display: inline-block;
  padding: 72px;
  margin-right: -3.75px;
}
/* doxray
label:
    .doxray-doc-markup_rendered__block
notes:
    - >
        Converts this container to `display: block;`, allowing space for wider
        patterns.
markup: |
    <div class="doxray-doc-markup">
        <div class="doxray-doc-markup_rendered doxray-doc-markup_rendered__block">
            Markup is rendered here
        </div>
    </div>
*/
.doxray-doc-markup_rendered__block {
  display: block;
}
/* doxray
label:
    .doxray-doc-markup-wrapper
*/
.doxray-doc-markup-wrapper {
  position: relative;
}
/* doxray
label:
    .doxray-doc-markup-wrapper_label
*/
.doxray-doc-markup-wrapper_label {
  position: absolute;
  top: 2.5em;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 12px;
  line-height: 1;
}
/* doxray
label:
    .doxray-doc-code
*/
.doxray-doc-code {
  margin: 0;
  border: 1px solid #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* doxray
label:
    .doxray-doc-code_text
*/
.doxray-doc-code_text {
  display: block;
  margin: 0;
  padding: 36px;
  background: #f8f8f8;
  color: #474646;
  font-size: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
}
/* doxray
label:
    .doxray-doc-color-palette
*/
.doxray-doc-palette {
  width: 96px;
  display: inline-block;
  margin-top: 16px;
}
/* doxray
label:
    .doxray-doc-color-palette_color
*/
.doxray-doc-palette_color {
  display: block;
  height: 96px;
}
/* doxray
label:
    .doxray-doc-color-palette_input
*/
.doxray-doc-palette_input {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  margin-top: 4px;
  padding: 8px 10px 10px;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  background: #ffffff;
  color: #6e6c6c;
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  font-weight: 400;
}
.doxray-doc-palette_input:hover,
.doxray-doc-palette_input:focus {
  width: 150px;
  z-index: 2;
  border-color: #474646;
  box-shadow: 0 0 4px #6e6c6c;
}
.doxray-doc-palette_input:focus {
  outline: 0;
}
.doxray-doc-palette_input + .doxray-doc-palette_input {
  margin-top: -1px;
}
/* doxray
label:
    .doxray-tabs
markup: |
    <div class="doxray-tabs">
        <div class="doxray-tabs_tabs">
            <button class="doxray-tabs_btn">
                Markup
            </button>
            <button class="doxray-tabs_btn">
                Less
            </button>
        </div>
        <div class="doxray-tabs_body">
            Markup tab body
        </div>
        <div class="doxray-tabs_body">
            Less tab body
        </div>
    </div>
blockMarkup:
    true
*/
.doxray-tabs_tabs {
  position: relative;
  top: -16px;
  height: 0;
  padding-left: 36px;
}
.doxray-tabs_btn,
.doxray-tabs_btn:active,
.doxray-tabs_btn:link,
.doxray-tabs_btn:visited {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #ffffff;
  border-radius: 0;
  background: #f8f8f8;
  color: #474646;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 1px 3px #969696;
  transition: transform 0.03s ease-in-out;
}
.doxray-tabs_btn__active {
  z-index: 2;
  transform: scale(1.1);
}
.doxray-tabs_btn:focus {
  outline: 0;
}
.doxray-tabs_btn + .doxray-tabs_btn {
  margin-left: -2px;
}
.doxray-tabs_btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.doxray-tabs_btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.doxray-tabs_body {
  display: none;
}
.doxray-tabs_body__visible {
  display: block;
}
